<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quizzards!</title>
  <%- include('partials/_scripts') %>

</head>

<body class="body-override">
  <%- include('partials/_header') %>
  <%- include('partials/_newQuiz') %>

  <main id="results-main">
    <section id="user-results">
      <h2><%=user.name %>'s Results!</h2>
      <h4>(<%= quiz %> quiz)</h4>
    <p><%= score * 100 %>%<br>
    <%= correct %> out of <%= answers.length %> right!</p>
    </section>
  </main>


  <%- include('partials/_footer') %>
</body>

</html>
