<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script src="https://kit.fontawesome.com/90ba6681f7.js" crossorigin="anonymous"></script>
  <title>Quizzards</title>
</head>

<body>
  <%- include('partials/_header') %>
  <div id="ex1" class="modal">
    <section id="new_quiz_container">
      <div class="isa_error"></div>

      <form id="new_quiz_form" action="/quizzes" method="POST">
        <!-- // move this form down and adjust front end. -->

        <section id="quiz_form">
          <h2>Create New Quiz</h2>
          <input type="text" name="name" placeholder="Give your quiz a name:"></textarea>
          <div class="name-private">
            <label for="is_public" class="new-quiz-small-text">Private</label>
            <input type="checkbox" name="is_public">
          </div>
        </section>
        <section id="question_forms">
          <div id="question_1" class="question_form">
            <input type="text" name="question_1" placeholder="Question 1"><span class="new-quiz-small-text">Correct
              Answer</span>
            <br>
            <input type="text" name="choice_1" placeholder="option 1">
            <input type="radio" value="is_correct_1" name="choice1">
            <br>
            <input type="text" name="choice_2" placeholder="option 2">
            <input type="radio" value="is_correct_2" name="choice1">
            <br>
            <input type="text" name="choice_3" placeholder="option 3">
            <input type="radio" value="is_correct_3" name="choice1">
            <br>
            <input type="text" name="choice_4" placeholder="option 4">
            <input type="radio" value="is_correct_4" name="choice1">
          </div>
          <br>
          <div id="question_2" class="question_form">
            <input type="text" name="question_2" placeholder="Question 2"><span class="new-quiz-small-text">Correct
              Answer</span>
            <br>
            <input type="text" name="q2choice_1" placeholder="option 1">
            <input type="radio" value="q2is_correct_1" name="choice2">
            <br>
            <input type="text" name="q2choice_2" placeholder="option 2">
            <input type="radio" value="q2is_correct_2" name="choice2">
            <br>
            <input type="text" name="q2choice_3" placeholder="option 3">
            <input type="radio" value="q2is_correct_3" name="choice2">
            <br>
            <input type="text" name="q2choice_4" placeholder="option 4">
            <input type="radio" value="q2is_correct_4" name="choice2">
          </div>
          <br>
          <div id="question_3" class="question_form">
            <input type="text" name="question_3" placeholder="Question 3"><span class="new-quiz-small-text">Correct
              Answer</span>
            <br>
            <input type="text" name="q3choice_1" placeholder="option 1">
            <input type="radio" value="q3is_correct_1" name="choice3">
            <br>
            <input type="text" name="q3choice_2" placeholder="option 2">
            <input type="radio" value="q3is_correct_2" name="choice3">
            <br>
            <input type="text" name="q3choice_3" placeholder="option 3">
            <input type=" radio" value="q3is_correct_3" name="choice3">
            <br>
            <input type="text" name="q3choice_4" placeholder="option 4">
            <input type="radio" value="q3is_correct_4" name="choice3">
          </div>
          <br>
          <div id="question_4" class="question_form">
            <input type="text" name="question_4" placeholder="Question 4"><span class="new-quiz-small-text">Correct
              Answer</span>
            <br>
            <input type="text" name="q4choice_1" placeholder="option 1">
            <input type="radio" value="q4is_correct_1" name="choice4">
            <br>
            <input type="text" name="q4choice_2" placeholder="option 2">
            <input type="radio" value="q4is_correct_2" name="choice4">
            <br>
            <input type="text" name="q4choice_3" placeholder="option 3">
            <input type="radio" value="q4is_correct_3" name="choice4">
            <br>
            <input type="text" name="q4choice_4" placeholder="option 4">
            <input type="radio" value="q4is_correct_4" name="choice4">
          </div>
        </section>
        <br>
        <!-- <input type="radio" value="left" name="test">
      <input type="radio" value="right" name="test"> -->
        <button class="std-btn" type="submit">POST QUIZ</button>
      </form>
    </section>
  </div>
  <div id="quiz-attempt">
    <h1 id="quiz-name">
      <%= quiz.name %>
    </h1>
    <form method="POST" action="/response/<%= quizId %>">
      <% for (let question of questions) { %>
      <div class="question-card">
        <h3><%= question.text %></h3>
        <% for (let answer of question.answers) { %>
        <input type="radio" id="<%= answer.id %>" value="<%= answer.id %>" name="<%= question.id %>">
        <label for="<%= answer.id %>"><%= answer.choice %></label><br />
        <% } %>
      </div>
      <% } %>
      <input type="submit" value="Submit">
    </form>
  </div>


  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> -->
</body>

</html>
