<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quizzards!</title>
  <%- include('partials/_scripts') %>

</head>

<body class="body-override">
  <%- include('partials/_header') %>
  <%- include('partials/_newQuiz') %>

  <main>
    <section id="user-results">
      <h1>Results:</h1>
    <%= score * 100 %>%
    You got <%= correct %> out of <%= answers.length %> right!
    </section>
  </main>


  <%- include('partials/_footer') %>
</body>

</html>
