<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quizzards!</title>
  <%- include('partials/_scripts') %>
</head>

<body class="body-override">
  <%- include('partials/_header') %>
  <%- include('partials/_newQuiz') %>

  <!-- MAIN -->
  <main class="container" id="main-container">

    <div id="scoreboard-container">
      <h2>Scoreboard</h2>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th class="score-text" id="score-name" scope="col">Name</th>
            <th class="score-text" id="score-average" scope="col">Average Quiz Score %</th>
          </tr>
        </thead class="table-striped">
        <tbody>
          <tr>
            <% for (let key of scores) { %>
            <td><%= key.name %></td>
            <td><%= Math.floor(key.score * 100) %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

  </main>

  <%- include('partials/_footer') %>
</body>

</html>